[submodule "zh-CHT"]
	path = zh-CHT
	url = https://github.com/ToastedIceCream/zh-CHT.ScrumGuides.github.io.git
[submodule "zh-CHS"]
	path = zh-CHS
	url = https://github.com/ToastedIceCream/zh-CHS.ScrumGuides.github.io.git
